/* google font 추가 !!많이 추가하면 불러오는데 느려지므로 참고!! */
/* @import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"); */
@import url("https://https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import "reset.css";
@import "variable.css"; /* variable.css파일을 import해줘야 사용가능 */

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";


/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  /* 폰트적용 */
  height: 140vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: #2e363e;
}

