
/* Friends' Names Display 링크 설정 */
#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 20px 0px;
    font-size: 20px;
    margin-bottom: 13px;
    margin-top: -15px; /* screen-header.css에 margin-bottom을 추가한게 있어 
                        너무 간격이 커서 조정*/
}

/* i아이콘 색상변경 (아이콘은 text임 font라 생각) */
#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
} 

/* friends창 좌우 간격 띄우기 */
.friends-screen {
    padding: 0px var(--horizontal-space);
}

/* friends Channel창 구분선 및 간격 띄우기 */
.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px; /* border기준으로 위에서 안쪽으로 간격주기*/
}

/* Channel헤더 밑에 간격, Channel 및 위쪽 화살표 컬러 설정 */
.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.5);
}

/* 카톡 로딩창 애니메이션 */
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /* 마우스에 걸리지 않게 빠져버리는것 */
    }
}
/* 카톡 로딩창 */
#splash-screen {
    background-color: var(--yew);
    position: absolute; /* 모든 것의 위에 배치 */
    height: 100vh; /* 화면 높이의 100% */
    width: 100vw; /* 화면 넓이의 100% */
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 2s; /* 2초후 실행 */
} /*forwards는 애니메이션이 끝나도 되돌아 가지않고 유지 */


/* CSS로는 element를 페이지로부터 완전히 없앨 수는 없음. */
/* 1. 애니메이션은 작동은 하지만 애니메이션이 끝나면 다시 되돌아옴 
      애니메이션이 끝나면 element들은 이전의 상태로 돌아감 
      디폴트값에 의해서 다시 opacity: 1;을 갖게됨 */
/*  하지만  forwards를 쓰게되면 마지막 속성인 opacity: 0;을
    애니메이션이 끝나고도 유지시켜줌  (마지막 키프레임을 기억시켜줌) */

/* 2. 문제는 html에 splash-screen들의 element가 계속 남아 있음 opacity가 0일 뿐이지
      완전히 삭제되는건 아님 눈으로 볼순 없지만 브라우저엔 남아있음 
      화면 클릭도 안됨 */

/* 3. CSS에서 뭔가를 숨긴다거나 할 때는 opacity: 0; visibility: hidden; 이 테크닉을 쓰면 안됨 
   뭔가를 숨기거나 삭제 시킬려면 JavaScript를 이용해야함 
    단지 브라우저가 이 element를 무시하도록 기술 같은걸 쓴거임 */
