
/* 시간 상태바 hack사용하여 가운데 정렬 */
.status-bar {
    /*position: fixed; /* 스크롤 내려도 고정 
    width: 100%;   
    top:0;*/
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    
  }
  
  /* 모든 상태바 33%의 폭 설정 */
  .status-bar__column {
    width: 33%;
  }
  
  /* No Service와 WiFi icon 간격 설정 */
  .status-bar__column:first-child span {
    margin-right: 5px;
  }
  
  /* 시간 상태바 hack사용하여 가운데 정렬 */
  .status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  
  /* 배터리, 충전중 상태바 오른쪽 정렬  */
  .status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* 110%,배터리,충전중 좌,우 간격 띄우기*/
  .status-bar__column .fa-battery-three-quarters {
    margin: 0px 6px;
  }
  